body {
    width: 600px;
    min-height: 100%;
    margin: 20px auto 0px auto;
}
small {
    margin-left: 10px;
    font-style: normal;
}

h1 {
    display: inline-block;
    margin-bottom: 0px;
}

.links {
    margin-top: 15px;
    float: right
}


@media (max-width: 600px) {

    body {
       width: 100%;
    }

}
